<div class="product-card"  [routerLink]="['/admin/myrestaurant', product().id]"
[class.featured-product]="product().featured"
[class.happy-hour-product]="product().hasHappyHour">
    <span class="happy-hour-badge">🍹 Happy Hour</span>
    <span class="featured-badge">✨ Destacado</span> 
    <span  class="restaurant-name-text">{{ product().name }}</span>
    <div class="prices-wrapper">
        @if(product().discount > 0) {
            <span class="product-price">${{product().price}}</span>
             <span class="final-price">{{product().price - (product().price * product().discount / 100) | currency: 'USD'}}</span>
        } @else {
                 <span class="final-price">${{product().price}}</span>
                }
    </div>
    
</div>