
<div class="restaurant-card-item" [routerLink]="['/menu', idUser(), 'product', products().id]"
[class.featured-product]="products().featured"
[class.happy-hour-product]="products().hasHappyHour">

<span class="happy-hour-badge">🍹 Happy Hour</span>
<span class="featured-badge">✨ Destacado</span>
    <p class="restaurant-name-text">{{products().name}}</p>
   <div class="prices-wrapper">
    @if(products().discount > 0) {
        <span class="product-price">${{products().price}}</span>
        <span class="final-price">
            {{ products().price - (products().price * products().discount / 100) | currency: 'USD' }}
        </span>
    } @else {
        <span class="final-price">
            {{ products().price  }}
        </span>
    }
</div>
</div>