<div class="menu-container">
  
  <h2 class="main-title">Menú del Restaurante</h2>
  
  <div class="subtitle-wrapper">
    <span class="subtitle">LISTADO DE CATEGORÍAS:</span>
  </div>

  <div class="actions-bar">
    <a routerLink="/admin/myrestaurant/new" class="btn-new-category">+ Nueva Categoría</a>
  </div>

  <div class="categories-content">
    @if(this.id){
       @for (category of categoryService.categories[this.id]; track $index) { 
      <app-logged-category-list [category]="category"></app-logged-category-list>
    }  
    }
   
  </div>

</div>

