<div class="category-block">
  
  <div class="category-header">
    <h3 class="category-name">{{ category().name }}</h3>

    <div class="category-actions">
      <a [routerLink]="['/admin/myrestaurant', category().id, 'edit']" class="btn-action btn-edit">
        Editar
      </a>
      
      <button (click)="openDeleteModal()" class="btn-action btn-delete">
        Borrar
      </button>

      <a [routerLink]="['/admin/myrestaurant', category().id, 'newproduct']" class="btn-action btn-edit">Crear Producto</a>
    </div>
  </div>

  <div class="products-grid">
    @for (product of productList; track $index) { 
      @if (category().id === product.categoryId){
        <div class="grid-item">
          <app-logged-product-list [product]="product"></app-logged-product-list>
        </div>
      }     
    }  
  </div>
</div>