<div class="category-block">
  <h3 class="category-name">{{ category().name }}</h3>

  <a [routerLink]="['/admin/myrestaurant', category().id, 'edit']">Editar</a>

   <button (click)="deleteCategory()" class="btn btn-danger">
        Eliminar
   </button>

  <div class="products-grid">
    @for (product of productList; track $index) { 
      
      @if (category().id === product.categoryId){
        <div class="grid-item">
          <app-logged-product-list [product]="product"></app-logged-product-list>
        </div>
      }
       
                
    }  
  </div>
</div>