<body>

    <div class="sidebar">
      
      <div class="sidebar-top">
        <div class="sidebar-header">
            <div class="header-logo">
                <img src="/imglettera.jpg" alt="Logo-Lettera" class="letta-logo-img">
            </div>
        </div>
        
        <nav class="sidebar-nav">
          <ul>
            <li>
              <a href="#">
                <span>Inicio</span>
              </a>
            </li>
            <li>
              <a href="#" class="active">
                <span>Productos</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Categorías</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
  
      <div class="sidebar-footer">
        <button class="logout-button">
          <span>Cerrar sesión</span>
        </button>
      </div>
    </div>

    <div class="main-content">
        <h2>Aca me gustaria poner una Bienvenida</h2>
        
    </div>

</body>

