@if(cargandoPerfil){
  <p class="loading-message">Cargando perfil...</p>
} @else if (!userProfile) {
  <p class="error-message">No se encontró el perfil.</p>
} @else {

<div class="profile-card">

  <div class="profile-initial-circle">
    {{ userProfile!.restaurantName.charAt(0).toUpperCase() }}
  </div>

  <h1 class="profile-name">{{userProfile!.firstName}} {{userProfile!.lastName}}</h1>

  <div class="profile-info">
    <p>
      <strong>Restaurante:</strong>
      {{userProfile.restaurantName}}
    </p>
    <p>
      <strong>Dirección:</strong>
      {{userProfile.address}}
    </p>
    <p>
      <strong>Teléfono:</strong>
      {{userProfile.phoneNumber}}
    </p>
  </div>

  <div class="profile-actions">
    
    <a [routerLink]="['/admin/myprofile', userProfile.id, 'edit']" class="btn btn-primary">
      Editar
    </a>
    
    <button (click)="deleteUser()" class="btn btn-danger">
      Eliminar
    </button>
    
  </div>

</div>
}