<header class="app-header">
    
    <div class="header-logo">
        <img src="/imglettera.jpg" alt="Logo-Lettera" class="letta-logo-img">
    </div>
    
    <div class="header-actions">
        
        <a routerLink="/login" class="login-button">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
                <path d="M8 .5A7.77 7.77 0 0 0 0 8a7.77 7.77 0 0 0 8 7.5A7.77 7.77 0 0 0 16 8 7.77 7.77 0 0 0 8 .5M5.16 13.67A2.84 2.84 0 0 1 8 11.51a2.82 2.82 0 0 1 2.84 2.16 7.24 7.24 0 0 1-5.68 0m6.84-.61a4.09 4.09 0 0 0-4-2.77 4.09 4.09 0 0 0-3.95 2.78A6.14 6.14 0 0 1 1.25 8 6.52 6.52 0 0 1 8 1.75 6.52 6.52 0 0 1 14.75 8 6.11 6.11 0 0 1 12 13.06"></path>
                <path d="M8.05 4.3A2.33 2.33 0 0 0 5.8 6.7a2.33 2.33 0 0 0 2.25 2.4 2.33 2.33 0 0 0 2.25-2.4 2.33 2.33 0 0 0-2.25-2.4m0 3.55a1.08 1.08 0 0 1-1-1.15 1.08 1.08 0 0 1 1-1.15 1.08 1.08 0 0 1 1 1.15 1.08 1.08 0 0 1-1 1.15"></path>
            </svg>
            <span>Login</span>
        </a>
        
    </div>
</header>
<div class="hero-container">

  <div class="hero-top">
    <div class="hero-content">
      <h1 class="hero-title">¡Tu restaurante en la palma de tu mano!</h1>
    </div>

    
    <div class="hero-curve">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  

  
  <div class="hero-bottom">
     <div>
        <h3>Listado de Restaurantes</h3>
        <div>
            @for (individualRestaurant of userService.users; track $index) {
            <div>
                <app-restaurant-list [restaurant]="individualRestaurant"></app-restaurant-list>
            </div>
            }
        </div>
    </div>
</div>


   

       
    

    
  
<!--section>
    <header>
        <div><img src="/imglettera.jpg" alt="no amda"></div>
        <div>
        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8 .5A7.77 7.77 0 0 0 0 8a7.77 7.77 0 0 0 8 7.5A7.77 7.77 0 0 0 16 8 7.77 7.77 0 0 0 8 .5M5.16 13.67A2.84 2.84 0 0 1 8 11.51a2.82 2.82 0 0 1 2.84 2.16 7.24 7.24 0 0 1-5.68 0m6.84-.61a4.09 4.09 0 0 0-4-2.77 4.09 4.09 0 0 0-3.95 2.78A6.14 6.14 0 0 1 1.25 8 6.52 6.52 0 0 1 8 1.75 6.52 6.52 0 0 1 14.75 8 6.11 6.11 0 0 1 12 13.06"></path><path d="M8.05 4.3A2.33 2.33 0 0 0 5.8 6.7a2.33 2.33 0 0 0 2.25 2.4 2.33 2.33 0 0 0 2.25-2.4 2.33 2.33 0 0 0-2.25-2.4m0 3.55a1.08 1.08 0 0 1-1-1.15 1.08 1.08 0 0 1 1-1.15 1.08 1.08 0 0 1 1 1.15 1.08 1.08 0 0 1-1 1.15"></path></svg>
        <a id="Login" href="https://www.tiendanube.com/login">Login</a>
        <a class="botonredondeado blanco" href="https://www.tiendanube.com/crear-mi-tienda-online">Crear tienda gratis</a>
        </div>
    </header>
</section>
<div>
    <a routerLink="/login">Login</a>
</div-->

<!--div class="titulo-contactos">
    <h2>Contactos</h2>
    
</div>
<div class="contact-container">
   <div class="contact-header">
        <span>Nombre</span>
        <span>Teléfono</span>
        <span>Email</span>
        <span>Favorito</span> 
        <span>Acciones</span>
    </div>
    <ul class="contact-list">

        @for (contactoindividual of contactsService.contacto; track $index) 
        {
            
                <app-lista-de-contactos [contact]="contactoindividual"></app-lista-de-contactos>
            
        }
    </ul>

    <a routerLink="/contacts/new">
        <div class="botonnuevocont">
            Nuevo Contacto
        </div>
    </a>
</div-->

