<!--div>
    <button>
        {{ category().name }}
    </button>
    <div [id]="'category-' + category().id">
        @for (products of productService.products[this.menuService.id()]; track $index) {
        @if (products.categoryId === category().id) {
        <app-products-list [products]="products"></app-products-list>
        }
        }
    </div>
</div!-->
<div>
    
    <h3 class="font-bold text-xl mb-2">{{ category().name }}</h3> 

    
    <div class="product-group mt-4">
        
    
        @for (product of filterProducts(); track product.id) {
        
            <app-product-list [products]="product"></app-product-list>
            
        }
        
        @if (filterProducts().length === 0) {
            <p class="text-gray-500 italic">Pronto tendremos productos en esta sección.</p>
        }
    </div>
</div>